<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.qiufang.bonbon">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Bonbon">
        <activity
            android:name=".ui.player.PlayerActivity"
            android:exported="false" />

        <service
            android:name=".ui.music.MusicPlayService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".ui.music.MusicActivity"
            android:exported="false"
            android:label="@string/albumList" />
        <activity
            android:name=".activity.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".activity.BaseActivity"
            android:exported="false"
            android:label="@string/title_activity_base"
            android:theme="@style/Theme.Bonbon.NoActionBar" />
        <activity
            android:name=".activity.LoginActivity"
            android:exported="false"
            android:label="@string/title_activity_login"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.LaunchActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Bonbon.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MainActivity"
            android:exported="false"
            android:label="@string/app_name"
            android:theme="@style/Theme.Bonbon.NoActionBar" />
    </application>

</manifest>